In [1]:
import sqlite3
import pandas as pd

# Nome do banco
db_name = 'data.db'
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Leitura do CSV e renomeação
df_dataset = pd.read_csv('../data/processed/dataset_final.csv', encoding='utf-8', encoding_errors='replace')
df_dataset.rename(columns={
    'payment_order_id_x': 'payment_order_id',
    'payment_order_id_y': 'payment_order_id_secundario'
}, inplace=True)

# Remover tabela antiga
cursor.execute('DROP TABLE IF EXISTS base')

# Criar nova tabela com colunas corretas
cursor.execute('''
CREATE TABLE base (
    order_id TEXT,
    store_id TEXT,
    channel_id TEXT,
    payment_order_id TEXT,
    delivery_order_id TEXT,
    order_status TEXT,
    order_amount REAL,
    order_delivery_fee REAL,
    order_delivery_cost REAL,
    order_created_hour INTEGER,
    order_created_minute INTEGER,
    order_created_day INTEGER,
    order_created_month INTEGER,
    order_created_year INTEGER,
    order_moment_created TEXT,
    order_moment_accepted TEXT,
    order_moment_ready TEXT,
    order_moment_collected TEXT,
    order_moment_in_expedition TEXT,
    order_moment_delivering TEXT,
    order_moment_delivered TEXT,
    order_moment_finished TEXT,
    order_metric_collected_time TEXT,
    order_metric_paused_time TEXT,
    order_metric_production_time TEXT,
    order_metric_walking_time TEXT,
    order_metric_expediton_speed_time TEXT,
    order_metric_transit_time TEXT,
    order_metric_cycle_time TEXT,
    channel_name TEXT,
    channel_type TEXT,
    hub_id TEXT,
    store_name TEXT,
    store_segment TEXT,
    store_plan_price REAL,
    store_latitude REAL,
    store_longitude REAL,
    payment_id TEXT,
    payment_order_id_secundario TEXT,
    payment_amount REAL,
    payment_fee REAL,
    payment_method TEXT,
    payment_status TEXT,
    delivery_id TEXT,
    driver_id TEXT,
    delivery_distance_meters REAL,
    delivery_status TEXT,
    driver_modal TEXT,
    driver_type TEXT,
    hub_name TEXT,
    hub_city TEXT,
    hub_state TEXT,
    hub_latitude REAL,
    hub_longitude REAL
)
''')

# Inserir no banco
df_dataset.to_sql('base', conn, if_exists='append', index=False)

# Finalizar
conn.commit()
conn.close()

print('Dados inseridos com sucesso!')

Dados inseridos com sucesso!

In [2]:
conn = sqlite3.connect(db_name)
cursor = conn.cursor()

# Exibindo os dados

print('Amostra da tabela de Base:')
for row in cursor.execute('SELECT * FROM Base LIMIT 5'):
    print(row)
  
    

    
conn.close()

Amostra da tabela de Base:
('68405119', '3512', '5', '68405119', '68405119', 'CANCELED', 62.7, 0.0, None, 0, 1, 1, 1, 2021, '1/1/2021 12:01:36 AM', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'FOOD PLACE', 'MARKETPLACE', '75', 'GOI SIPIMUSU ', 'FOOD', 49.0, -25.477073, -49.28966, None, None, None, None, None, None, None, None, None, None, None, None, 'PYTHON SHOPPING', 'CURITIBA', 'PR', -25.477073, -49.28966)
('68405123', '3512', '5', '68405123', '68405123', 'CANCELED', 62.7, 0.0, None, 0, 4, 1, 1, 2021, '1/1/2021 12:04:26 AM', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'FOOD PLACE', 'MARKETPLACE', '75', 'GOI SIPIMUSU ', 'FOOD', 49.0, -25.477073, -49.28966, None, None, None, None, None, None, None, None, None, None, None, None, 'PYTHON SHOPPING', 'CURITIBA', 'PR', -25.477073, -49.28966)
('68405206', '3512', '5', '68405206', '68405206', 'CANCELED', 115.5, 0.0, None, 0, 13, 1, 1, 2021, '1/1/2021 12:13:07 AM', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'FOOD PLACE', 'MARKETPLACE', '75', 'GOI SIPIMUSU ', 'FOOD', 49.0, -25.477073, -49.28966, None, None, None, None, None, None, None, None, None, None, None, None, 'PYTHON SHOPPING', 'CURITIBA', 'PR', -25.477073, -49.28966)
('68405465', '3401', '5', '68405465', '68405465', 'CANCELED', 55.9, 0.0, None, 0, 19, 1, 1, 2021, '1/1/2021 12:19:15 AM', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'FOOD PLACE', 'MARKETPLACE', '43', 'FRUEOU ', 'FOOD', 49.9, -25.4412212, -49.27769, None, None, None, None, None, None, None, None, None, None, None, None, 'HOTMILK SHOPPING', 'CURITIBA', 'PR', -25.4412212, -49.27769)
('68406064', '3401', '5', '68406064', '68406064', 'CANCELED', 37.9, 0.0, None, 0, 26, 1, 1, 2021, '1/1/2021 12:26:25 AM', None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'FOOD PLACE', 'MARKETPLACE', '43', 'FRUEOU ', 'FOOD', 49.9, -25.4412212, -49.27769, None, None, None, None, None, None, None, None, None, None, None, None, 'HOTMILK SHOPPING', 'CURITIBA', 'PR', -25.4412212, -49.27769)

In [3]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('data.db')

# Consulta 1: Verificar as primeiras 10 linhas da tabela
query1 = '''
SELECT * FROM base LIMIT 10
'''

df1 = pd.read_sql(query1, conn)
print("Primeiras 10 linhas da tabela:")
display(df1)

Primeiras 10 linhas da tabela:

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,...,driver_id,delivery_distance_meters,delivery_status,driver_modal,driver_type,hub_name,hub_city,hub_state,hub_latitude,hub_longitude
0,68405119,3512,5,68405119,68405119,CANCELED,62.7,0.00,NaN,0,...,None,NaN,None,None,None,PYTHON SHOPPING,CURITIBA,PR,-25.477073,-49.289660
1,68405123,3512,5,68405123,68405123,CANCELED,62.7,0.00,NaN,0,...,None,NaN,None,None,None,PYTHON SHOPPING,CURITIBA,PR,-25.477073,-49.289660
2,68405206,3512,5,68405206,68405206,CANCELED,115.5,0.00,NaN,0,...,None,NaN,None,None,None,PYTHON SHOPPING,CURITIBA,PR,-25.477073,-49.289660
3,68405465,3401,5,68405465,68405465,CANCELED,55.9,0.00,NaN,0,...,None,NaN,None,None,None,HOTMILK SHOPPING,CURITIBA,PR,-25.441221,-49.277690
4,68406064,3401,5,68406064,68406064,CANCELED,37.9,0.00,NaN,0,...,None,NaN,None,None,None,HOTMILK SHOPPING,CURITIBA,PR,-25.441221,-49.277690
5,68408108,786,5,68408108,68408108,CANCELED,80.0,9.90,NaN,0,...,None,NaN,None,None,None,COFFEE SHOPPING,SÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃ...,SP,-23.579067,-46.592820
6,68408109,1125,5,68408109,68408109,CANCELED,71.0,9.90,NaN,0,...,None,NaN,None,None,None,BLACK SHOPPING,PORTO ALEGRE,RS,-30.085743,-51.245997
7,68409030,1064,35,68409030,68409030,CANCELED,214.8,0.01,0.0,1,...,None,1723.0,CANCELLED,None,None,GOLDEN SHOPPING,RIO DE JANEIRO,RJ,-22.921475,-43.234774
8,68410055,2181,35,68410055,68410055,FINISHED,394.8,0.01,6.0,2,...,10239.0,1035.0,DELIVERED,BIKER,FREELANCE,HIP HOP SHOPPING,RIO DE JANEIRO,RJ,-22.885820,-43.279218
9,68410055,2181,35,68410055,68410055,FINISHED,394.8,0.01,6.0,2,...,10239.0,1035.0,DELIVERED,BIKER,FREELANCE,HIP HOP SHOPPING,RIO DE JANEIRO,RJ,-22.885820,-43.279218

In [4]:
# Consulta 2: Contagem de pedidos por status
query2 = '''
SELECT order_status, COUNT(*) as total_pedidos
FROM base
GROUP BY order_status
ORDER BY total_pedidos DESC
'''

df2 = pd.read_sql(query2, conn)
print("\nContagem de pedidos por status:")
display(df2)

Contagem de pedidos por status:

  order_status  total_pedidos
0     FINISHED         424906
1     CANCELED          17333

In [5]:
# Consulta 3: Tempo médio de ciclo por segmento de loja
query3 = '''
SELECT 
    store_segment,
    AVG(order_metric_cycle_time) as tempo_medio_ciclo,
    AVG(order_metric_production_time) as tempo_medio_producao,
    AVG(order_metric_transit_time) as tempo_medio_transito
FROM base
WHERE store_segment IS NOT NULL
GROUP BY store_segment
ORDER BY tempo_medio_ciclo DESC
'''

df3 = pd.read_sql(query3, conn)
print("\nMétricas de tempo por segmento de loja:")
display(df3)

Métricas de tempo por segmento de loja:

  store_segment  tempo_medio_ciclo  tempo_medio_producao  tempo_medio_transito
0          GOOD         801.289824            385.276684            126.744089
1          FOOD          82.907117             17.789546             53.774806

In [6]:
# Consulta 4: Verificação de valores nulos
query4 = '''
SELECT 
    COUNT(*) as total_registros,
    SUM(CASE WHEN order_id IS NULL THEN 1 ELSE 0 END) as nulos_order_id,
    SUM(CASE WHEN order_status IS NULL THEN 1 ELSE 0 END) as nulos_order_status,
    SUM(CASE WHEN order_amount IS NULL THEN 1 ELSE 0 END) as nulos_order_amount,
    SUM(CASE WHEN store_segment IS NULL THEN 1 ELSE 0 END) as nulos_store_segment
FROM base
'''

df4 = pd.read_sql(query4, conn)
print("\nVerificação de valores nulos:")
display(df4)

Verificação de valores nulos:

,total_registros,nulos_order_id,nulos_order_status,nulos_order_amount,nulos_store_segment
0,442239,0,0,0,0